.DS_Store
/vendor
/node_modules
.env
.idea
.phpintel
.phpstorm.meta.php
startOA.sh
_ide_helper.php
_ide_helper*.php
.vscode/
.cache/
/storage/app/qrcode
/storage/app/sf
/storage/user_images/
storage/framework/
storage/user_images/
storage/**
/resources/views/fileupload.blade.php
public/demo.html
public/?.???
public/ap_status.html
public/dist
public/fonts
public/finance
public/mix-manifest.json
public/hikvision
public/finance_doc
public/staff_card
public/hot
dump.rdb
/public/dist/
.editorconfig
npm-debug.log
_ide_helper.php
webpack.mix.js
upgrade.log
.eslintrc.json
task.json
yarn-error.log
app/Console/Kernel.php
workhome.md
public/0.js
.prettierrc
